{% extends "email_notif.html" %}

{% block notification %}
<p>
  {{ new_member_full_name }} ({{ new_member_email }}) a accepté l’invitation à votre structure “{{ structure_name }}”&nbsp;! Cette personne a désormais accès à Dora et au tableau de bord de cette structure.
</p>
<p>
  Si cette personne ne fait pas partie de votre organisation, voici le pas à pas à réaliser pour la retirer&nbsp;: <a href="https://documentation.dora.fabrique.social.gouv.fr/tutoriels/gerer-vos-collaborateurs#retirer-une-personne-de-la-structure">Gérer vos collaborateurs</a>
</p>
<p>
  Cordialement,
</p>
<p>
  Dora
</p>
{% endblock %}
