{% load orientation_extras %}

<h2>Bénéficiaire&nbsp;:</h2>

<ul>
    <li>{% if is_beneficiary %}Vous, {% endif %}{{ data.get_beneficiary_full_name }}</li>
    <li>Moyens de contact privilégiés&nbsp;:
        <ul>
            {% if "email" in data.beneficiary.beneficiary_contact_preferences %}
                <li>{{ data.beneficiary_email }}</li>
            {% endif %}
            {% if "telephone" in data.beneficiary.beneficiary_contact_preferences %}
                <li>{{ data.beneficiary_phone|format_phone }}</li>
            {% endif %}
            {% if "autre" in data.beneficiary.beneficiary_contact_preferences %}
                <li>{{ data.beneficiary_other_contact_method }}</li>
            {% endif %}
        </ul>
    </li>
    <li>Autres moyen de contact&nbsp;:
        <ul>
            {% if not "email" in data.beneficiary.beneficiary_contact_preferences and data.beneficiary_email %}
                <li>{{ data.beneficiary_email }}</li>
            {% endif %}
            {% if not "telephone" in data.beneficiary.beneficiary_contact_preferences and data.beneficiary_phone %}
                <li>{{ data.beneficiary_phone|format_phone }}</li>
            {% endif %}
            {% if not "autre" in data.beneficiary.beneficiary_contact_preferences and data.beneficiary_other_contact_method %}
                <li>{{ data.beneficiary_other_contact_method }}</li>
            {% endif %}
        </ul>
    </li>
    <li>{% if not is_beneficiary %}est {% endif %}disponible à partir du {{ data.beneficiary_availability }}</li>
</ul>
