{% load orientation_extras %}
<p>
    Si vous avez des questions supplémentaires ou si vous souhaitez obtenir plus d'informations, n'hésitez pas à
    contacter le référent de l'action,

    {% if  data.service.contact_name %}
        {{ data.service.contact_name }}{% if data.service.contact_email or data.service.contact_phone %},{% else %}.
        {% endif %}
    {% endif %}
    {% if  data.service.contact_email %}
        {{ data.service.contact_email }}{% if data.service.contact_phone %},{% else %}.{% endif %}
    {% endif %}
    {% if data.service.contact_phone %}
        {{ data.service.contact_phone|format_phone }}.{% endif %}
</p>
