{% load orientation_extras %}

<h2>Contact du ou de la responsable du service « {{ data.service.name }} »</h2>

<ul>
  {% if  data.service.contact_name %}
    <li>{{ data.service.contact_name }}</li>
  {% endif %}
  <li>
    {% if  data.service.contact_email %}{{ data.service.contact_email }}&nbsp;– {% endif %}
    {% if  data.service.contact_phone %}{{ data.service.contact_phone|format_phone }}{% endif %}
  </li>
</ul>
{% if not no_reply_msg %}
  <p>
    Si vous souhaitez contacter la structure, répondez directement à ce mail.
  </p>
{% endif %}
