{% load orientation_extras %}

{% if  data.service.contact_name or data.service.contact_email or  data.service.contact_phone %}
    <h2>Contact du ou de la responsable du service {{ data.service.name }}</h2>

    <ul>
        {% if  data.service.contact_name %}
            <li>{{ data.service.contact_name }}</li>
        {% endif %}
        {% if  data.service.contact_email or data.service.contact_phone %}
            <li>
                {% if  data.service.contact_email %}{{ data.service.contact_email }}&nbsp;– {% endif %}
                {% if  data.service.contact_phone %}{{ data.service.contact_phone|format_phone }}{% endif %}
            </li>
        {% endif %}
    </ul>
{% endif %}
<p>
    Si vous souhaitez contacter la structure, répondez directement à ce mail.
</p>
