{% extends "email_cta.html" %}

{% block salutations %}Bonjour,{% endblock %}

{%block before_cta_content %}
<p>
  Un contributeur vient de proposer une suggestion de service pour votre
  structure.
</p>

<p>
  Disponible dès à présent sur votre tableau de bord, vous pouvez y accéder, le
  compléter et le publier.
</p>
{% endblock %}

{% block cta_text %}Voir la suggestion{% endblock %}

{%block after_cta_content %}

{%if more_details_link is not None %}
<p>
  Les contributions font partie de notre démarche collective d’identification et
  activation de l’offre d’insertion nationale. Si vous souhaitez y participer,
  vous retrouverez <a href="{{ more_details_link }}">plus de détails ici</a>.
</p>
{% endif %}

<p>À très bientôt,</p>
<p>L’équipe DORA</p>
{% endblock %}
